# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android/IntelliJ
.idea/
*.iml
android/.gradle/
android/local.properties

# OS files
.DS_Store
Thumbs.db

# Generated artifacts
*.jks
*.keystore
*.app
*.apk
*.aab
